h4{
	  color: #0DE842;
	  font-size: 24px;
	  font-style: italic;
  }
h{
		  width: 100px;
		  font-size: 20px;
		  border-radius:5px;
		  top: 40%;
		  left: 100px;
		  background: #E5F5F3
	  }

	  g{
		  color: #000000;
	  }
	  #box1, #box2, #box3, #box4, #box5, #box6{
		  height: 300px;
		  width: 400px;
		  margin-top: 1%;
		  margin-left: 1%;
		  position: relative;
		  border-radius: 10px;
	  }

	  #box1{	background: #BEE9E6;  }
	  #box2{	background: #9BE1B0;  }
	  #box3{	background: #89FDBE;  }
	  #box4{	background: #81D2EB;  }
	  #box5{	background: #81EBDF;  }
	  #box6{	background: #b1ebca;  }

	  #div4{
		  color: aqua;
		  background: #DBDADA;
		  font-size: 20px;
		  position: absolute;
		  bottom: 10px;
		  left: 0;
		  right: 0;
		  margin: auto;
		  border-radius: 5px;
		  width: 150px;
	  }
	  #div5{
		  height: 210px;
		  overflow: auto;

	  }
	  /*设置高度auto*/
	  #div6, #div10{
		  height: auto;
	  }

	  /*设置宽度100%*/
	  #in01, #in02, #in05, table{
		  width: 100%;
	  }

	  /*设置内容居中*/
      #div10, #in05, #in07, #div4, h, h4, #in04{
		  text-align: center;
	  }

	  /*设置字体*/
	  #div6, #div10{
		  font-size: 19px;
	  }

	  /*设置边框圆润 border-radius: 5px;*/
	  #div6, #div10, #in05, #in06, #in07, #in08{
		  border-radius: 5px;
	  }

	  /*设置相对关系*/
	  #div7, #div8, #divin, #in03, #in04, h{
		  position: relative;
	  }

      #div6{
		  background-color: #E5F5F3;
		  margin-bottom: 5px; /*#div 上下之间的距离*/
	  }

	  #div10{
		  background-color: #E5F5F3;
		  margin-bottom:5px;
	  }

	  #div7{
		  color: red;
		  margin-left: 250px;
		  margin-top: -28px;
	  }

	  #div8{
		  height: 250px;
		  width: 385px;
		  overflow: auto;
		  border-radius:10px;
		  left: 2%;
	  }

	  #in01{
		  background: #7ABD77;
		  border-radius: 3px;
		  text-align: left;
		  text-align-last:justify;
		  font-size: 16px;
	  }

	  #in02{
		  height: 100%;
		  text-align-last:justify;
		  border-radius: 3px;
		  text-align: left;
		  font-size: 16px;
		  background: #A9E0D3;
	  }

	  #divin{
		  width: 40%;
	  }
	  #in03{
		  width: 75%;
		  background: #76DF9F;
	  }
	  #in04{
		  height: 80px;
		  background: #B44143;
		  border-radius: 10px;
	  }

	  #in05{
		  background: #7ABD77;
		  height: 100%;
	  }

	  table{
		  background: #88DCDB;
	  }

	  #in06{
		  width: 180px;
		  background: #A9E0D3;
		  margin-bottom: 2px;
	  }

	  #in08{
		  display: inline;
		  background: #A9E0D3;
		  margin-bottom: 2px; /* #div 上下之间的距离*/
	  }

	  #in07{
		  width: 200px;
		  background: #7ABD77;
		  margin-bottom: 5px; /*#div 上下之间的距离*/
		  margin: auto;
	  }